.global__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.global__center--vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.global__title {
  color: var(--baseColor);
  font-weight: 700;
  font-size: 38px;
  margin: 20px 0;
}

.global__wrapper {
  padding: 0 30px;
}

.global__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.global__button {
  border: none;
  padding: 10px 30px;
  margin: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: all 0.1s ease-in;
}

.global__button:hover {
  background-color: transparent;
  color: var(--baseColor);
  border: 1px solid var(--baseColor);
}

@media screen and (min-width: 480px) {
  .global__wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 720px) {
  .global__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1080px) {
  .global__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
