* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
}

:root {
  --baseBackground: #300065;
  --baseColor: #e8e8e8;
  --lightGray: #f8f9fe;
  --text: #6f717e;
  --shockOne: #7a08fa;
  --shockTwo: #d189ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  background-color: var(--baseBackground);
}
